/**
 * @author Thomas Hunziker
 */

/**
 * Custom Rules
 */

/* Menu */
#jl_mainmenu_maxi ul li ul {width:14em;}
#jl_submenu_maxi ul ul {width:14em;}

/* Fix Menu CSS */
#jl_mainmenu_maxi ul li.active li,
#jl_mainmenu_maxi ul li.active li a,
#jl_mainmenu_maxi ul li li.active a,
#jl_mainmenu_maxi ul li.active li .separator,
#jl_mainmenu_maxi ul li li.active .separator,
#jl_mainmenu_maxi ul li li,
#jl_mainmenu_maxi ul li li a {
  background-image: initial;
}
.element-invisible,
.hidelabeltxt {
    position: absolute;
    padding: 0 !important;
    margin: 0 !important;
    border: 0;
    height: 0 !important;
    width:  0 !important;
    overflow: hidden;
}

/* Jungschargruppen */
@media only screen and (max-width: 768px)
{
    .jungschargruppen .buben {
        border-top: 1px solid #eee;
        margin-top: 15px;
    }
}

.froeschli {
    background-color: #cfc;
    padding-bottom: 10px;
    padding-top: 1px;
}
.maedchen {
    background-color: #fcc;
}
.buben {
    background-color: #cff3ff;
}
.froeschli,
.maedchen,
.buben {
    padding-left: 10px;
    padding-right: 10px;
}

/* Fixing Blog view */
.cols-2 .column-1,
.cols-2 .column-2 {
  width: initial;
}

/* Resetting style for tip class */
.tip {
  float: none;
  border: none;
  padding: 0;
  background-color: initial;
}

/* "Kinderportrait" */
.kinderportrait h2,
.kinderportrait p
{
  font-size: 125%;
  margin: 15px 0;
  font-family: "comic sans ms", sans-serif;
}

.kinderportrait p.strong
{
  font-size: 250%;
  line-height: 150%;
}

.nav-icon > div {
  font-size: 125%;
  margin-bottom: 20px;
}
.nav-icon > div > div {
  display: inline-block;
  vertical-align: middle;
}
.nav-icon img ,
img.nav-icon {
  width: 100px;
  height: 100px;
}

/* Icon Menu */
.jl_module ul.nav-pills li {
  list-style: none;
}

/* Farbige Tabellenzellen für Jahresplan */
.eventlegende .jungschar,
td.jungschar {
    background-color: #d0e9c6 !important;
}
.eventlegende .jungschar:hover,
td.jungschar:hover {
    background-color: #c2e2b6 !important;
}
.eventlegende .event,
td.event {
    background-color: #c4e3f3 !important;
}
.eventlegende .event:hover,
td.event:hover {
    background-color: #c0e1f2 !important;
}
.eventlegende .ferien,
td.ferien {
    background-color: #eee !important;
}
.eventlegende .ferien:hover,
td.ferien:hover {
    background-color: #e6e6e6 !important;
}

/* Erlaube Tabellen auf kleinen Bildschirmen zu scrollen */
@media screen and (max-width: 640px) {
  table {
  	overflow-x: auto;
  	display: block;
  }
}

/* Slider */
.slide-text p {
  color: #fff;
  font-size: 25px;
}

/* Farbige Tabellen in Artikel wie zB Kontakt */
.table-colored td {
  background-color: #fef0d6;
}
.table-colored tr:first-child td {
  background-color: #feb17a;
  color: #f98405;
  font-weight: bold;
}
.table-colored td:first-child {
  background-color: #fee0b7;
  min-width: 25px;
  max-width: 100px;
}
.table-colored tr:first-child td:first-child {
  background-color: #fc9720;
}
.table-colored h3 {
  font-weight: normal;
}

/* JDownloads Link verstecken */
.jd_footer {
 display: none;
}

/* JSENT Footer verstecken */
#jl_copyright {
  /* display: none; */
}

/* Phoca Gallery Link verstecken */
#phocagallery > div:last-child {
  display: none !important;
}

/* li Abstand resetten */
#jl_content li {
  padding-bottom: inherit;
}